name: Output CloudIPtoDB DB File

on:
  schedule:
    - cron:  '0 0 1 * *'
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout CloudIP
        uses: actions/checkout@v3
        with:
          repository: stclaird/Cloud-IP-Address-Ranges

      - name: Create SQLite File
        run: |-
          ls -lasi
          cd cmd/main/
          go build -o cloudIPtoDB -v 
          chmod +x cloudIPtoDB
          ./cloudIPtoDB

      - name: Temporarily save SQLite db
        uses: actions/upload-artifact@v4
        with:
          name: db-artifact
          path: cmd/main/db-output/cloudIP.sqlite3.db
          retention-days: 1
      
      - name: Retrieve saved SQLite db
        uses: actions/download-artifact@v4
        with:
          name: db-artifact
          path: cmd/api/cloudIP.sqlite3.db

      - name: Create or Update Release
        run: |
          cd cmd/main/db-output
          TAG="latest"
          # Create release if it doesn't exist, otherwise it will just fail gracefully
          gh release create ${TAG} --title "Latest Database" --notes "Latest CloudIP SQLite Database" || true
          # Upload the database file
          gh release upload ${TAG} cloudIP.sqlite3.db --clobber
        env:
          GH_TOKEN: ${{ secrets.CLASSIC_PAT_TOKEN }}
