name: Output IP Cidr Files

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout CloudIP
        uses: actions/checkout@v3
        with:
          repository: stclaird/Cloud-IP-Address-Ranges

      - name: Create and Tar Cidr Files
        run: |-
          cd cmd/main/
          go build -o cloudIPtoDB -v
          chmod +x cloudIPtoDB
          ./cloudIPtoDB
          rm cloudIPtoDB
          cd downloadedfiles
          tar -cvf downloadedfiles.tar *.ip.txt


      - name: Commit downloaded files to the repo
        run: |
          tar -xvf cmd/main/downloadedfiles/downloadedfiles.tar -C ipfiles
          git config --global user.name "${{ env.CI_COMMIT_AUTHOR }}"
          git config --global user.email "david@davidstclair.co.uk"
          git add ipfiles
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "${{ env.CI_COMMIT_MESSAGE }}"
            git push
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.CLASSIC_PAT_TOKEN }}
          CI_COMMIT_MESSAGE: Continuous Integration Build Artifacts
          CI_COMMIT_AUTHOR: Continuous Integration
